#cuadrado {
  width: 200px;
  height: 200px;
  background-color: black;
  transition: background-color 0.3s;
  cursor: pointer;
}

.clase-original {
  background-color: rgb(43, 107, 226);
  width: 200px;
  text-align: center;
  border-radius: 5px;
}

.clase-nueva {
  background-color: blueviolet;
  width: 200px;
  text-align: center;
  border-radius: 50px;
}

#div {
    width: 300px;
    width: 300px;
}

#div img {
    width: 100%;
}

#parrafo {
    cursor: pointer;
}
