body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin-bottom: 50px;
}

h3 {
  color: rgb(65, 138, 31);
  font-size: 20px;
}

h1 {
  font-size: 25px;
  font-weight: 700;
}

button {
  background-color: #dfdfdf;
  color: #000000;
  border: none;
  padding: 10px 15px;
  font-size: 11px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(141, 141, 255);
}

p {
  color: #000000;
  font-weight: bold;
}

input {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  font-size: 16px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  
}

input:focus {
  border-color: rgb(141, 141, 255);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

label {
  font-size: 15px;
  font-weight: bold;
}

#cuadrado {
  width: 200px;
  height: 200px;
  background-color: black;
  transition: background-color 0.3s;
  cursor: pointer;
}

.clase-original {
  background-color: rgb(43, 107, 226);
  width: 200px;
  text-align: center;
  border-radius: 5px;
}

.clase-nueva {
  background-color: blueviolet;
  width: 200px;
  text-align: center;
  border-radius: 50px;
}

#div {
  width: 300px;
  width: 300px;
}

#div img {
  width: 100%;
}

#parrafoClg {
  cursor: pointer;
}

.mensajeError {
  display: none;
  color: red;
}

